In [48]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
data = pd.read_csv("reddit_worldnews_start_to_2016-11-22.csv", encoding='latin-1')

In [49]:
data['year']='2008'
for i in data.index:
    data.at[i,'year'] = data.at[i,'date_created'][:4]

In [50]:
data.groupby(['year']).mean()

      time_created    up_votes  down_votes   over_18
year
2008  1.216517e+09   15.823906         0.0  0.000267
2009  1.243837e+09   25.697511         0.0  0.000438
2010  1.278120e+09   38.427444         0.0  0.000257
2011  1.308658e+09   53.979581         0.0  0.001543
2012  1.342873e+09   92.048355         0.0  0.000516
2013  1.373529e+09   91.272569         0.0  0.000918
2014  1.404038e+09  119.458372         0.0  0.000456
2015  1.436001e+09  161.502077         0.0  0.000528
2016  1.465642e+09  182.005654         0.0  0.000513

We can easily see that the up_votes were rising through time. The reason for this is that Internet and Reddit were becoming more and more popular during this period (2008-2016). To eliminate the influence of time series, we label the top 5% up_votes article of each year as "hot article".

In [42]:
# temp is a dict that contains the 95% cutoff of each year
temp={}
for i in range(2008,2017):
    temp[str(i)] = np.percentile(data[data['year']==str(i)]['up_votes'],95)

In [43]:
data['label']=0
for i in data.index:
    if data.at[i,'up_votes'] >= temp[data.at[i,'year']]:
        data.at[i,'label']=1

In [44]:
len(data[data['label']==1])
#25495 hot article

25495

In [45]:
len(data[data['label']==0])
#483741 non-hot article

483741

In [46]:
# train-test split train:80%,test:20%
# train dataset only includes title text
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    data.iloc[:,4],
    data.values[:,-1],
    test_size=0.3,
    random_state=1)

In [39]:
X_train.to_csv('X_train.csv')
X_test.to_csv('X_test.csv')
pd.DataFrame(y_train).to_csv('y_train.csv',index=False)
pd.DataFrame(y_test).to_csv('y_test.csv',index=False)